{% extends "blog/base.html" %}
{% load static %}
{% block content %}
<div class="container">
    <div class="card my-3 w3-aqua" style="width: 50rem">
        <h1 class="card-header">
          {% if user.is_authenticated %}
            All Review  
             <a class="btn btn-secondary btn-sm mt-1 mb-1 float-right" href="{% url 'review-create' %}">Create Review</a> 
          {% else %}  
            All Review
          {% endif %}
        </h1>
    </div>
</div>
  <div class="row">
    <div class="col-lg-12">
      <div class="row">
        {% for review in reviews %}
         <div class="col-lg-4 col-md-6 mb-3">
            <div class="card" style="width: 15rem">
              <img src="{{ review.image.url }}" class="w3-border w3-round" width="223" height="200">
              <div class="card-body">
                <h5 class="card-title"> 
                  <a class="article-title text-info text-dark class="article-title text-info text-dark " href="{% url 'review-detail' review.id %}"><b><h6>{{ review.title }}</h6></b></a>
                </h5>              
              </div>
              <div class="card-footer">
                <a class="text-muted" href="{% url 'user-posts' review.author.username %}"><b>{{ review.author }}</b></a> &nbsp;&nbsp;<img src="{%static 'images/comment.png' %}" width="20">&nbsp;&nbsp;<b>Comments: {{ review.comments.count }}</b> 
         
              </div>
          </div>
          
      </div>
      {% endfor %}
    </div>
  </div> 
      <!--{% for review in reviews %}
       
      <div class="card" style="width: 40rem;">
        <img src="{{ review.image.url }}" class="w3-border" width="600" height="300">
        <div class="card-body">
          <a class="article-title text-info text-dark class="article-title text-info text-dark " href="{% url 'review-detail' review.id %}"><b><h5>{{ review.title }}</h5></b></a>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        <div class="card-footer">
          <a class="text-muted" href="{% url 'user-posts' review.author.username %}">{{ review.author }}</a>
          <!--<small class="text-muted">by Tanakrit Suksopa</small>
        
        </div>
      </div><br>
      {% endfor %}-->
    
  

  <!-- Footer -->
 <!--- <footer class="py-5 bg-dark">
      <div class="container">
        <!--p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p-->
      
      <!-- /.container 
    </footer> -->


<!-- Bootstrap core JavaScript -->
<script src="static/vendor/jquery/jquery.min.js"></script>
<script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY&callback=myMap"></script>
  <script>
      function myMap() {
      var mapProp= {
        center:new google.maps.LatLng(6.998037980975092,100.47274771104503),
        zoom:5,
      };
      var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);
      }
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC_JQ81PG7et8aCKMln678aMsQAFRmnrGI&callback=myMap"></script>

</body>

{% endblock content %}

