{% extends "blog/base.html" %}
{% block content %}
 {% block title %} <h2><b>Search Result :</b></h2> {% endblock title %}
    {% for post in allPosts %}
    <article class="media content-section">
        <div class="media-body">

          <center>
            <div class="column">
              <div class="card ">
                <img src="{{ post.Banner.url }}" class="w3-border w3-round" width="690" height="300">
              </div>
            </div>
          </center>


            <br/><h2>&nbsp;&nbsp;<a class="article-title text-info text-dark " href="{% url 'post-detail' post.id %}">{{ post.RestuarantName }}</a></h2>
            <h6><b>&nbsp;&nbsp;&nbsp;&nbsp;<img src="media/icon_pics/location.png" width="16">&nbsp;&nbsp;</b> {{ post.address }}</h6>
            <h6><b>&nbsp;&nbsp;&nbsp;&nbsp;<img src="media/icon_pics/openday.png" width="20">&nbsp;&nbsp;</b> เปิด:&nbsp;{{ post.openday }}-{{ post.closeday }}</h6>
            <h6><b>&nbsp;&nbsp;&nbsp;&nbsp;<img src="static/images/tell.png" width="16">&nbsp;&nbsp;</b> {{ post.tel }}</h6>
            <h6>&nbsp;&nbsp;&nbsp;&nbsp;<img src="static/images/foodtype.png" width="20">&nbsp;&nbsp; <a href="#" class="text-danger"> {% if post.is_thaifood %}
              <font color="black" size="3">• อาหารไทย</font>
              {% endif %}
              {% if post.is_japanfood %}
                <font color="black" size="3"> • อาหารญี่ปุ่น</font>
              {% endif %}
              {% if post.is_chinesefood %}
                <font color="black" size="3"> • อาหารจีน</font>
              {% endif %}
              {% if post.is_northfood %}
                <font color="black" size="3"> • อาหารเหนือ</font>
              {% endif %}
              {% if post.is_southfood %}
                <font color="black" size="3"> • อาหารใต้</font>
              {% endif %}
              {% if post.is_buffetfood %}
                <font color="black" size="3"> • บุฟเฟ่ต์</font>
              {% endif %}
              {% if post.is_fastfood %}
                <font color="black" size="3"> • ฟาสฟู้ด</font>
              {% endif %}
              {% if post.is_somtumfood %}
                <font color="black" size="3"> • ส้มตำ</font>
              {% endif %}
              {% if post.is_cafefood %}
                <font color="black" size="3"> • ของหวาน&คาเฟ่ต์</font>
              {% endif %}
              {% if post.is_noodlefood %}
                <font color="black" size="3"> • ก๋วยเตี๋ยว</font>
              {% endif %}</a> </h6>
            <h6>&nbsp;&nbsp;&nbsp;&nbsp;<img src="static/images/comment.png" width="20">&nbsp;&nbsp;Comments: {{ post.comments.count }}</h6>
            &nbsp;&nbsp;&nbsp;&nbsp;<a href="{% url 'post-detail' post.id %}" target="_blank" class="btn btn-outline-info"><b>เข้าชมร้าน</b> &rarr;</a>
          
        </div>

        
      </article>


    {% endfor %}
    {% if is_paginated %}

      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previos_page_number }}">Previous</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
      <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
      <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}

    {% endif %}

  </div>
  <div class="col-md-4">
    <div class="card my-4">
      <div class="card my-4">
        <h5 class="card-header"><img src="static/images/search.png" width="30"  height="30">&nbsp;<b>ค้นหาร้านอาหาร</b></h5>
        <div class="card-body">
          <div class="row">
            <div class="col-lg-5">
              <ul class="list-unstyled mb-0">
                <li>
                  <a class="mr-2" href="{% url 'searchsouthfood' %}"><img src="static/images/southfood.png" width="30"  height="30">อาหารใต้</a><br>
                </li>
                <li>
                  <a class="mr-2" href="{% url 'searchnorthfood' %}"><img src="static/images/northfood.png" width="30"  height="30">อาหารเหนือ</a><br>
                </li>
                <li>
                  <a class="mr-2" href="{% url 'searchnoodlefood' %}"><img src="static/images/noodle.png" width="30"  height="30">ก๋วยเตี๋ยว</a><br>
                </li>
                <li>
                  <a class="mr-2" href="{% url 'searchjapanfood' %}"><img src="static/images/japanfood.png" width="30"  height="30">อาหารญี่ปุ่น</a><br>
                  </li>
                  <li>
                    <a class="mr-2" href="{% url 'searchchinesefood' %}"><img src="static/images/chinesefood.png" width="30"  height="30">อาหารจีน</a><br>
                    </li>
              </ul>
            </div>
            <div class="col-lg-6">
              <ul class="list-unstyled mb-0">
                <li>
                  <a class="mr-2" href="{% url 'searchbuffetfood' %}"><img src="static/images/buffet.png" width="30"  height="30">บุฟเฟ่ต์</a><br>
                </li>
                <li>
                  <a class="mr-2" href="{% url 'searchfastfood' %}"><img src="static/images/fastfood.png" width="30"  height="30">Fast Food</a><br>
                </li>
                <li>
                  <a class="mr-2" href="{% url 'searchthaifood' %}"><img src="static/images/thaifood.png" width="30"  height="30">อาหารไทย</a><br>
                </li>
                <li>
                  <a class="mr-2" href="{% url 'searchsomtumfood' %}"><img src="static/images/somtum.png" width="30"  height="30">ส้มตำ</a><br>
                </li>
                 <li>
                  <a class="mr-2" href="{% url 'searchcafefood' %}"><img src="static/images/cafe.png" width="30"  height="30">CAFE</a><br>
                </li>
              </ul>
            </div>
          </div>
          </div>
        </div>
  </div>

    <div class="card my-4">
      <h5 class="card-header"><img src="static/images/announ.png" width="30"  height="30"> &nbsp;<b>ประชาสัมพันธ์</b></h5>
      <div class="card-body">
          <img src="static/images/promo1.jpg" style="width:100%;cursor:zoom-in" height="250"
          onclick="document.getElementById('modal01').style.display='block'">
          <div id="modal01" class="w3-modal" onclick="this.style.display='none'">
              <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
              <div class="w3-modal-content w3-animate-zoom">
                <img src="static/images/promo1.jpg" style="width:100%" height="500">
              </div>
         </div>
      </div>
      <div class="card-body">
          <img src="static/images/promo2.jpg" style="width:100%;cursor:zoom-in" height="250"
          onclick="document.getElementById('modal02').style.display='block'">
          <div id="modal02" class="w3-modal" onclick="this.style.display='none'">
              <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
              <div class="w3-modal-content w3-animate-zoom">
                <img src="static/images/promo2.jpg" style="width:100%" height="500">
              </div>
            </div>
      </div>
    
  </div >
{% endblock content %}